::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  @apply bg-gray-100 rounded-full;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-full;
}


.post-content {
  pre {
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      @apply bg-purple-900 rounded-full;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      @apply bg-purple-900 rounded-full;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-purple-700 rounded-full;
    }
  }
}

.anchor-tags {
  h3 {
    @apply pt-24 -mt-24;
  }
}

.no-draggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img {
  @apply rounded;
  @apply no-draggable;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}


.share-btn > a {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
}

.share-btn > a:hover {
  cursor: pointer;
}

code {
  @apply bg-purple-200 not-italic;
}

kbd {
  @apply py-1 px-2 bg-yellow-200 rounded border-b-2 border-yellow-500 text-xs not-italic;
}
